.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-columns: 248px 1fr 272px;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  height: calc(100vh - 52px);
}